/* Default types */
html{
    font-family: CascadiaCode;
    text-align: center;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: whitesmoke;
    height: 100%;
    /* width: 100%; */
}

/* By ID */
#vid-area{
    height: 100%;
    width: 100%;
}
#movie{
    max-height: 80vh;
}
#text-area{
    position: absolute;
    top: 42%;
    left: 34%;
}
#text-content{
    font-size: 64px;
    font-weight: 700;
    transition: opacity 2s linear 1s;
}
#response-area{
    position: absolute;
    top: 45%;
    left: 39%;
}
/* #contact-area{} */
#contact1{
    left: 15%;
}
#contact2{
    left: 40%;
}
#contact3{
    left: 65%;
}


/* By Class */
.contacts{
    background-color: darkslategray;
    position: absolute;
    top: 40%;
    height: 200px;
    width: 20%;
}



/* Animations */
.fade{
    opacity: 0;
}


/* Misc. */
@font-face {
    font-family: CascadiaCode;
    src: url(./assets/CascadiaCode-Regular.otf);
}
/* @font-face {
    font-family: CascadiaCodeBold;
    src: url(./assets/CascadiaCode-Bold.otf);
} */