/* Default types */
body{
    font-family: CascadiaCode;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: black;
    color: #F0C43F;
    height: 100%;
    /* width: 100%; */
}

/* By ID */
#vid-area{
    position: fixed;
    height: 100%;
    width: 100%;
}
#movie{
    /* display: none; */
    /* max-height: 80vh; */
    height: 100%;
    width: 100%;
    transition: opacity 2s linear;
}
#text-area{
    position: absolute;
    top: 42%;
    left: 34%;
}
#text-content{
    font-size: 64px;
    font-weight: 500;
    transition: opacity 2s linear 1s;
}
#begin{
    display: none;
    font-size: 32px;
    transition: opacity 2s linear 1s;
}
#response-area{
    position: absolute;
    top: 45%;
    left: 39%;
}
/* #contact-area{} */
#contact1{
    left: 15%;
}
#contact2{
    left: 40%;
}
#contact3{
    left: 65%;
}


/* By Class */
.contacts{
    background-color: darkslategray;
    position: absolute;
    top: 40%;
    height: 200px;
    width: 20%;
    overflow-wrap: break-word;
}



/* Animations */
.fade{
    opacity: 0;
}


/* Misc. */
@font-face {
    font-family: CascadiaCode;
    src: url(./assets/CascadiaCode-Regular.otf);
}
/* @font-face {
    font-family: CascadiaCodeBold;
    src: url(./assets/CascadiaCode-Bold.otf);
} */
